test_conf/l328f21b6285m0009875m0790a_019.995 filter=lfs diff=lfs merge=lfs -text
test_conf/oneInstantonConf_s8t8_nersc filter=lfs diff=lfs merge=lfs -text
test_conf/BIGPU_HisqForce.txt filter=lfs diff=lfs merge=lfs -text
test_conf/gauge12750 filter=lfs diff=lfs merge=lfs -text
test_conf/l20t20b06498a_nersc.302500 filter=lfs diff=lfs merge=lfs -text
test_conf/nersc.l8t4b3360_bie_readtest filter=lfs diff=lfs merge=lfs -text
test_conf/smearing_link_lv2_110_nersc filter=lfs diff=lfs merge=lfs -text
test_conf/smearing_reference_conf filter=lfs diff=lfs merge=lfs -text
test_conf/hisqF_BIGPU.nersc filter=lfs diff=lfs merge=lfs -text
test_conf/nersc.l8t4b3360_bieHB filter=lfs diff=lfs merge=lfs -text
test_conf/nersc.l8t4b3360_bieOR filter=lfs diff=lfs merge=lfs -text
test_conf/openQCD.l4t4b12.0k0.125csw1.13295 filter=lfs diff=lfs merge=lfs -text
test_conf/rhmc_4pf_reference_conf filter=lfs diff=lfs merge=lfs -text
test_conf/rhmc_reference_conf filter=lfs diff=lfs merge=lfs -text
test_conf/smearing_imagmu_reference_conf filter=lfs diff=lfs merge=lfs -text
test_conf/force_imagmu_reference filter=lfs diff=lfs merge=lfs -text
test_conf/force_reference filter=lfs diff=lfs merge=lfs -text
test_conf/ildg.l8t4b3360_QUDA filter=lfs diff=lfs merge=lfs -text
