alabaster
attrs
Babel
certifi
charset-normalizer
docutils
idna
imagesize
Jinja2
markdown-it-py
MarkupSafe
mdit-py-plugins
myst-parser
packaging
Pygments
pyparsing
pytz
PyYAML
requests
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinx-togglebutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
typing-extensions
urllib3
